{{ define "main" }}
  <main class="container mx-auto flex flex-row">
    <div id="main-column" class="w-2/3">
        <h1 class="py-12 title">{{ .Title }}</h1>
      <div class="summary">
        {{ .Content }}
      </div>
    </div>
    <div class="w-1/3 py-4">
      {{ with (index .Site.Author .Params.Author "avatar") }}
        <figure class="w-full py-6">
          <img
            class="rounded-full w-60 h-60 p-2 border-4 mx-auto border-gray-700 aspect-w-1"
            src="{{ . }}"
          />
        </figure>
      {{ end }}
      <hr />
      {{ partial "social_media.html" . }}
      <hr class="mt-3" />

      <div class="py-3 w-full block overflow-auto">
        <table class="w-full">
          {{ with .Params.name }}
            <tr>
              <th class="align-top">Name:</th>
              <td>{{ . }}</td>
            </tr>
          {{ end }}
          {{ with .Params.email }}
            <tr>
              <th class="align-top">Email:</th>
              <td><a href="mailto:{{ . }}">{{ . }}</a></td>
            </tr>
          {{ end }}
          {{ with .Params.langs }}
            <tr>
              <th class="align-top">Languages:</th>
              <td>
                <ul>
                  {{ range . }}
                    <li>{{ . }}</li>
                  {{ end }}
                </ul>
              </td>
            </tr>
          {{ end }}
          {{ with .Params.plangs }}
            <tr>
              <th class="align-top">Programming:</th>
              <td>
                <ul>
                  {{ range . }}
                    <li>{{ . }}</li>
                  {{ end }}
                </ul>
              </td>
            </tr>
          {{ end }}
          {{ with .Params.learning }}
            <tr class="align-top">
              <th>Currently Learning:</th>
              <td>
                <ul>
                  {{ range . }}
                    <li>{{ . }}</li>
                  {{ end }}
                </ul>
              </td>
            </tr>
          {{ end }}
          {{ with .Params.skills }}
            <tr>
              <th class="align-top">Skills:</th>
              <td>
                <ul>
                  {{ range . }}
                    <li>{{ . }}</li>
                  {{ end }}
                </ul>
              </td>
            </tr>
          {{ end }}
        </table>
      </div>
    </div>
  </main>
{{ end }}
