{{ define "main" }}
  <main id="main" class="container mx-auto">
    <h1
      class="text-center p-3 font-bold text-4xl font-display bg-white border shadow-sm mb-4 mt-12"
    >
      {{ humanize .Title }}
    </h1>
    <section class="archive p-3">
      {{ range (where .Site.RegularPages "Section" "in" (slice "blog")).GroupByDate "January, 2006" }}
        <h2
          class="text-3xl text-center font-display border-b border-t bg-gray-100 py-4 px-3"
        >
          {{ .Key }}
        </h2>
        <div class="flex flex-row flex-wrap">
          {{ range $index, $element := .Pages }}
            <div class="p-5 w-full lg:w-1/2">
              <a
                class="bg-white border shadow-sm flex flex-row border-gray-200"
                href="{{ .Permalink }}"
              >
                {{ if isset .Params "featured_img" }}
                  <div
                    class="bg-gray-100 border-r p-5 flex flex-col justify-center"
                  >
                    {{ with .Params.featured_img }}
                      {{ $path := split . "/" }}
                      {{ $name := index $path (add (len $path) -1) }}
                      <img
                        class="rounded-full w-24 h-24 p-1 border-4 border-gray-700 flex-shrink-0 object-cover"
                        src="{{ . }}"
                        title="{{ $name }}"
                        alt="{{ $name }}"
                      />
                    {{ end }}
                  </div>
                  {{ else }}

                  {{ with (index .Site.Author .Params.Author "avatar") }}
                    <div
                      class="bg-gray-100 border-r p-5 flex flex-col justify-center"
                    >
                      <img
                        class="rounded-full w-24 h-24 p-1 border-4 border-gray-700 flex-shrink-0"
                        src="{{ . }}"
                      />
                    </div>
                  {{ end }}
                {{ end }}
                <div class="flex-grow p-5">
                  <div
                    class="border-l-8 pl-4 border-current text-turquoise font-bold text-lg"
                  >
                    {{ if eq .Type "references" }}
                      <i class="fa fa-link"></i>
                    {{ end }}
                    {{ .Date.Format "Monday, Jan 2, 2006" }}
                  </div>
                  <span class="text-sm italic text-gray-600"
                    >By
                    {{ if isset .Params "author" -}}
                      {{ index .Site.Author .Params.Author "name" }}
                      {{- else -}} Anonymous
                    {{- end }}</span
                  >
                  <h1 class="font-display text-xl">
                    {{ .Title }}
                  </h1>
                </div>
              </a>
            </div>
          {{ end }}
        </div>
      {{ end }}
    </section>
  </main>
{{ end }}
