{{ define "main" }}


<main id="main" class="container mx-auto">
    <h1 class="text-center p-3 font-bold text-4xl font-display bg-white border shadow-sm mb-4 mt-12">{{ .Title }}</h1>
    <section class="archive p-3">
        <ul class="column-list list-decimal">
            {{ range $index, $element:= .Pages.ByTitle }}
                <li class="px-3 py-1"><a href="{{ .Permalink }}">{{ humanize .Title }}</a>
                <br><span class="italic text-sm text-gray-700">Authored by {{ if isset .Params "author" }}
                    {{ index .Site.Author .Params.Author "name" }} {{ else }} Anonymous
                  {{ end }} <br> At {{ .Date.Format "Monday, Jan 02, 2006" }}</span></li>
            {{ end }}
        </ul>
    </section>
</main>

{{ end }}