<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class="bg-gray-50">
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
    </body>
</html>
