{{ define "main" }}
  <main class="container mx-auto" data-sticky-container>
    <div class="p-3 flex flex-row w-full px-6 pt-6 lg:p-6 lg:pb-4 flex-wrap-reverse lg:flex-nowrap mb-7">
      <div class="flex flex-grow items-center pb-2 lg:pr-9">
        <h1 class="block w-full title">
          {{ .Title }}
        </h1>
      </div>
      <div class="flex flex-shrink-0 w-full ml-auto justify-end pb-5 lg:pb-0 md:w-1/4 md:min-w-max">
        {{ partial "post-authoring-showcase.html" . }}
      </div>
    </div>

    <div class="flex flex-row w-full flex-wrap-reverse">
      <div
        id="main-content"
        class="bg-white border-t border-b sm:border rounded-b-none w-full lg:w-3/4 lg:rounded-md"
      >
        <div class="py-8 content">{{ .Content }}</div>
      </div>
      <div class="w-full lg:w-1/4">{{ partial "sidebar.html" . }}</div>

    </div>
  </main>
{{ end }}
