/**
 * Syntax style
 * ------------------------------------------------------------
 */
@import "./themes/maelstrom/assets/css/solarized.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.low-arrow-left {
  @apply border-l;
  @apply border-t;

  display: block;
  position: absolute;
  top: -1px;
  left: -16px;
  height: calc(100% + 1px);
  width: 20%;
  content: "";
  transform: skew(-30deg, 0deg);
}

html,
body {
  @apply text-gray-800;

  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  @apply text-info;
  @apply border-b;
  @apply border-transparent;
}

a:hover {
  @apply border-b;
  @apply border-info;
}

a,
h1 {
  @apply transition-colors ease-in-out;
}

h1 a:hover,
a:hover h1 {
  @apply text-info-dark transition-colors ease-in-out;
  border: none;
}

h1 a,
a h1 {
  @apply text-gray-800 transition-colors ease-in-out;
  border: none;
}

.title {
  @apply text-4xl xl:text-5xl font-display;
}

.social-link {
  @apply text-cola-darker hover:text-white;
  border: none;

  /* filter: drop-shadow(2px 2px 3px rgb(22,22,22)); */
}

.menu-link {
  @apply block text-white relative overflow-hidden w-full p-4;
  border: none;

  &::after {
    @apply bg-white block absolute bottom-0 left-0 w-0 h-1 -z-1;
    content: "";
    transition: width ease-in-out 0.2s;
  }

  &:hover::after {
    width: 100% !important;
    transition: width ease-in-out 0.2s;
  }

  &::before {
    @apply bg-cola-darker block absolute top-0 left-0 h-0 w-full -z-1;
    content: "";
    transition: height ease-in-out 0.2s;
  }

  &:hover::before {
    height: 100% !important;
    transition: height ease-in-out 0.2s;
  }
}

.bg-purple-gradient {
  background: linear-gradient(125deg, #ffffff 0%, #cccccc 100%),
    linear-gradient(
      140deg,
      #ffd9e8 0%,
      #ffd9e8 60%,
      #de95ba calc(60% + 1px),
      #de95ba 70%,
      #7f4a88 calc(70% + 1px),
      #7f4a88 85%,
      #4a266a calc(85% + 1px),
      #4a266a 100%
    ),
    linear-gradient(
      113deg,
      #ffd9e8 0%,
      #ffd9e8 70%,
      #de95ba calc(70% + 1px),
      #de95ba 86%,
      #7f4a88 calc(86% + 1px),
      #7f4a88 94%,
      #4a266a calc(94% + 1px),
      #4a266a 100%
    );
  background-blend-mode: overlay, overlay, normal;
}

.content ul,
.toc ul {
  li {
    @apply list-disc list-inside;
  }

  @apply ml-4 pb-1;
}

.column-list {
  columns: 1;
  
}

@media (min-width: 1024px) {
  .column-list {
    columns: 2;
  }
}

@media (min-width: 1280px) {
  .column-list {
      columns: 3;
  }
}

.sidebar {
  &.is-sticky {
    .sidebar-content {
      max-height: calc(100vh - 3rem);
    }
    .sidebar-header {
      @apply mt-0 lg:mt-0;
    }
  }

  h3.active {
    @apply bg-gray-100;
  }
}

.sidebar-content {
  max-height: calc(100vh - 3.5rem);
}

.content ol {
  li {
    @apply list-decimal;
  }

  @apply ml-4 pb-1;
}

.toc {
  ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
  }

  ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
  }

  ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
  }

  li ol > li {
    margin: 0;
  }

  li ol > li:before {
    content: counters(item, ".") " ";
  }
}

.chroma {
  min-width: fit-content;
}

.is-sticky {
  border-top-width: 0 !important;
  border-bottom-width: 1px !important;
  border-radius: 0 !important;
}

@media (min-width: 1024px) {
  .is-sticky {
    border-width: 0px !important;
  }
}

.content {
  > * {
    @apply px-12;
  }
}

.content, .summary {
  position: relative;

  img {
    @apply p-2 my-3 shadow-mdbi bg-white;
  }

  figure img {
    @apply mx-auto;
  }

  hr {
    @apply pb-2;
  }

  > table {
    @apply ml-12;
  }

  p > code {
    @apply border rounded bg-gray-50 text-red-700 px-1;
  }

  > pre {
    @apply block w-full shadow-smbi overflow-auto border-t border-b pt-1 pb-2 mb-2;
  }

  blockquote {
    @apply border-l-4 border-cola-light bg-gray-50 mx-12 pt-1 pb-2 mb-2 shadow-md;
  }

  table {
    @apply mb-3 bg-gray-50 border;

    th,
    td {
      @apply border px-3 py-1;
    }

    > thead {
      @apply bg-gray-100;
    }
  }

  > div.hugo-table table {
    @apply w-full;
  }

  h1,
  h2 {
    @apply pb-2 pt-1 font-bold;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply pt-1 font-bold;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-lg;
  }

  h6 {
    @apply text-sm;
  }

  p {
    @apply pt-1 pb-2;
  }

  /**
  * Code highlighting
  * ------------------------------------------------------------
  */
  .highlight {
    @apply border-t border-b px-0 overflow-auto w-full shadow-smbi mt-2 mb-3;

    pre {
      @apply pl-12 pt-1 pb-2;
    }

    > div {
      @apply pt-1 pb-2;

      pre {
        @apply p-0;
      }
    }
  }
}
