<div class="flex flex-row w-full bg-white shadow-sm border my-4">
    {{ if .HasPrev }}
        <a class="block flex-grow p-3 text-center" href="{{ .Prev.URL }}">
            <span class="fa fa-angle-double-left"></span> 
            <span class="">Explore newer posts</span>
        </a>    
    {{ end }}
    {{ if .HasNext }}
    <a class="block flex-grow p-3 text-center" href="{{ .Next.URL }}">          
            <span class="">Explore older posts</span>
            <span class="fa fa-angle-double-right"></span>
        </a>
    {{ end }}
</div>
