{{ with (.GetTerms "categories") }}
  <span class="block font-bold text-sm italic">Categories: </span>
  <div class="pb-3 text-sm">
    {{- range . -}}
      <a
        class="block bg-white shadow-sm border border-gray-200 rounded px-2 py-1 mx-1 my-2 hover:border-info"
        href="{{ .Permalink }}"
        ><i class="fas fa-star-of-life mr-2"></i>{{ .LinkTitle }}</a
      >
    {{- end -}}
  </div>
{{ end }}
