<footer class="footer w-full bg-cola-dark mt-2 text-white">
    <div class="container mx-auto flex flex-row justify-between pt-5">
        <div class="w-5/12">
            <h4>SITE</h4>
            <ul class="">
                {{ $currentPage := . }}
                {{ range .Site.Menus.footer }}
                    {{ if .HasChildren }}
                        <li class='{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}'>
                            <a href="#">
                                {{ .Pre }}
                                <span>{{ .Name }}</span>
                            </a>
                            <ul class="sub-menu">
                                    {{ range .Children }}
                                        <li class='{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}'>
                                            <a href="{{ .URL }}">{{ .Name }}</a>
                                        </li>
                                    {{ end }}
                            </ul>
                        </li>
              
                    {{ else }}
                        <li>
                            <a href="{{ .URL }}">
                                {{ .Pre }}
                                <span>{{ .Name }}</span>
                            </a>
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
        <div class="w-5/12">
            {{ if not (eq (len $.Site.Taxonomies.tags) 0) }}
                
                {{ $fontUnit := "rem" }}
                {{ $largestFontSize := 2.0 }}
                {{ $largestFontSize := 2.5 }}
                {{ $smallestFontSize := 1.0 }}
                {{ $fontSpread := sub $largestFontSize $smallestFontSize }}
                {{ $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
                {{ $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
                {{ $spread := sub $max $min }}
                {{ $fontStep := div $fontSpread $spread }}
            
                <div id="tag-cloud" class="my-2">
                    <h4>TAGS</h4>
                    {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
                        {{ $currentTagCount := len $taxonomy.Pages }}
                        {{ $currentFontSize := (add $smallestFontSize (mul (sub $currentTagCount $min) $fontStep) ) }}
                        {{ $count := len $taxonomy.Pages }}
                        {{ $weigth := div (sub (math.Log $count) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
                        {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weigth) ) }}
                        <!--Current font size: {{$currentFontSize}}-->
                        <a href='{{ "/tags/" | relLangURL }}{{ $name | urlize }}' style="font-size: {{$currentFontSize}}{{$fontUnit}}"><i class="fas fa-hashtag"></i> {{ $name }}</a>
                    {{ end }}
                </div>
            {{ end }}
            <div class="my-2">
                <h4>THEME</h4>
                <p><a href="https://gitlab.com/jmcavanillas/swirl">Maelstrom Theme</a> by Javier Martínez Cavanillas </br>
                Powered by <a href="https://gohugo.io/">Hugo</a> v{{ hugo.Version }}</p>
            </div>
        </div>
    </div>
    <div class="w-full text-center p-3 bg-gray-800 mt-7">
            &copy; {{ replace .Site.Copyright "{year}" now.Year }}
    </div>
</footer>

{{ partial "scripts.html" . }}