<header class="w-full bg-cola text-white">
  <div class="container mx-auto flex flex-row items-center p-3 py-6 ">
    <div class="main-header w-1/3 text-5xl">{{ .Site.Title }}</div>
    <nav class="main-menu flex-grow">{{ partial "social_media.html" . }}</nav>
  </div>
  <nav
    class="w-full border-gray-300 mt-6 overflow-y-hidden shadow bg-cola-dark"
  >
    <div class="container mx-auto relative z-10 ">
      <ul class="w-full flex max-w-5xl">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
            <li
              class='flex-grow text-center'
            >
              <a href="#" class='menu-link {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}'>
                {{ .Pre }}
                <span>{{ .Name }}</span>
              </a>
              <ul class="sub-menu">
                {{ range .Children }}
                  <li
                    class='{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}'
                  >
                    <a href="{{ .URL }}">{{ .Name }}</a>
                  </li>
                {{ end }}
              </ul>
            </li>

            {{ else }}
            <li class=" flex-grow text-center">
              <a href="{{ .URL }}" class='menu-link {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}'>
                {{ .Pre }}
                <span>{{ .Name }}</span>
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </nav>
</header>
