<figure
  class="flex flex-row items-center justify-start lg:justify-start pb-2"
>
  {{ with (index .Site.Author .Params.Author "avatar") }}
    <img
      class="rounded-full w-28 h-28 p-1 bg-white border flex-shrink-0 flex-grow-0"
      src="{{ . }}"
    />
  {{ end }}

  <div class="block pl-5 text-sm flex-grow-1">
    <span class="block w-full font-bold italic">Authored by:</span>
    <span class="block w-full italic"
      >{{ if isset .Params "author" }}
        {{ index .Site.Author .Params.Author "name" }} {{ else }} Anonymous
      {{ end }}</span
    >
    <span class="block italic text-sm"
      ><strong>At</strong>
      <span>{{ .Date.Format "Monday, Jan 02, 2006" }}</span></span
    >
  </div>
</figure>
