<div class="flex flex-wrap w-full p-6">
  <div
    class="flex flex-col w-full lg:w-2/5 xl:w-1/3 xl:max-w-sm px-6 pt-6 lg:p-6"
  >
    {{ partial "post-authoring-showcase.html" . }}
    <div class="hidden lg:block w-full">
      <span class="text-sm italic text-gray-700 text-center pb-3 block"
        >&mdash; {{ .WordCount }} words, {{ .ReadingTime }} minutes.
        &mdash;</span
      >
      <div class="pt-11">
        {{ partial "categories-showcase.html" . }}
        {{ partial "tags-showcase.html" . }}
      </div>
    </div>
  </div>
  <div
    class="w-full lg:w-3/5 xl:w-2/3 px-6 pb-6 pt-2 lg:p-6 xl:pl-20 flex-grow"
  >
    <h1 class="title mb-6">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h1>
    <div class="flex flex-row flex-wrap 2xl:flex-nowrap items-start">
      {{ with .Params.featured_img }}
        <figure
          class="block bg-white border p-6 w-full object-cover bg-cover mb-5 2xl:mr-5 2xl:mb-2 2xl:w-1/2"
        >
          {{ $path := split . "/" }}
          {{ $name := index $path (add (len $path) -1) }}
          <img
            class="block w-full bg-gray-700 border object-cover"
            src="{{ . }}" title="{{ $name }}" alt="{{ $name }}"
          />
        </figure>
      {{ end }}
      <div class="block flex-grow w-full 2xl:w-3/5 summary">
        {{ .Summary }}
      </div>
    </div>
  </div>
  <div class="w-full border-b border-dashed text-right pb-4 pr-6 pl-6">
    {{ if .Truncated }}
      <a href="{{ .Permalink }}"
        >Read more <i class="fas fa-angle-double-right"></i
      ></a>
    {{ end }}
  </div>
</div>
