<div
  class="sticky sidebar w-full lg:w-auto bg-white lg:bg-transparent border-t lg:h-auto lg:border-0 lg:rounded-none sm:border sm:border-b-0 sm:rounded-lg sm:rounded-b-none"
  data-sticky-class="is-sticky"
  data-sticky-wrap
>
  <h3
    id="sidebar-header"
    class="sidebar-header px-12 py-3 lg:px-3 cursor-pointer hover:bg-gray-100 lg:bg-gray-100 lg:mt-2 lg:cursor-default lg:border-b italic sm:rounded-lg sm:rounded-b-none lg:rounded-none"
  >
    <i class="fas fa-book-open mr-2"></i> {{ .WordCount }} words,
    {{ .ReadingTime }} minutes.
  </h3>
  <div
    class="px-12 py-3 lg:pl-3 lg:pr-0 hidden lg:block border-t lg:border-t-0 overflow-auto sidebar-content"
    id="sidebar-content"
  >
    <div class="pb-2 mb-1 border-b border-dashed">{{ partial "toc.html" . }}</div>
    <div class="pr-3 py-2">{{ partial "categories-showcase.html" . }}</div>
    <div class="p-2 mr-3 border shadow-sm rounded bg-gray-100">
      {{ partial "tags-showcase.html" . }}
    </div>
  </div>
</div>
