<ul class="text-4xl text-right pt-3 px-12">
{{ range .Site.Menus.social }}
    <li class="inline-flex items-center justify-center px-1 ">
        <a class="social-link" href="{{ .URL }}" aria-label="{{ .Name }}">
            {{ .Pre }}
        </a>
    </li>
{{ end }}
</ul>