{{ with (.GetTerms "tags") }}
  <span class="block font-bold pb-2 text-sm italic">Tags: </span>
  <div class="pb-3 text-sm">
    {{- range  . -}}
      <a
        href="{{ .Permalink }}"
        class="inline-block bg-white border border-gray-200 rounded shadow-sm px-2 py-1 mx-1 hover:text-white hover:bg-info-light"
        ><i class="fas fa-hashtag mr-1"></i>{{ .LinkTitle }}</a
      >
    {{- end -}}
  </div>
{{ end }}
