{{ if and (gt .WordCount 400 ) (.Params.toc) }}
  <nav class="toc">
    <h3 id="toc-header" class="border-b py-2 mb-2">Table Of Contents</h3>
    <div>
      {{ .TableOfContents }}
    </div>
  </nav>
{{ end }}
