{{ define "main" }}
  <main class="container mx-auto">
    <section>
      {{ range $index, $element:= .Paginator.Pages }}
        {{ partial "post-entry.html" . }}
      {{ end }}

      {{ template "_internal/pagination.html" . }}
    </section>
  </main>
{{ end }}